body{
    background-color: #19012F;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: ease 3s;
}

/* first container */
.container-banner{
    background-image: url(/Assests/Banner/20289169-6256457-1@2x.png);
    background-size:contain;
    z-index: 99;
}

.slider {
    width: 100%;
    max-width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    max-width: 100%;
    height: 800px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    z-index: 199;
 
}

.btn {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10px;
    cursor: pointer;    
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    rotate: 180deg;
    bottom: 1.5%;
    left: 40%;
}

.btn-next {
   bottom: 0%;
   right: 40%;
}

.card{
   min-width: 250px;
   height: 250px;
   margin: 0 5px;
   overflow: hidden;
}

.card-img img{
    width: 20%;
}


/* first container end */

/* Secound container start */

.over-box{
    width:11%;
}
.container-row-2{
    margin-top:10%;
}

.box-img-over-1{
    transform: translate(50%,-120%);
}
.box-img-over-2{
    transform: translate(200%,-300%);
}
.box-img-over-3{
    transform: translate(395%,-200%);
}
.box-img-over-4 {
    transform: translate(550%,-345%);
}
.box-img-over-5{
    transform: translate(750%,-320%);
}

@media screen and (max-width:480px) {
    .box-img-over-1{
        transform: translate(40%,-130%);
    }
    .box-img-over-2{
        transform: translate(180%,-300%);
    }
    .box-img-over-3{
        transform: translate(360%,-190%);
    }
    .box-img-over-4 {
        transform: translate(515%,-340%);
    }
    .box-img-over-5{
        transform: translate(680%,-300%);
    } 
}

@media screen and (max-width: 480px) {
    .slide {
        height: 500px;
    }

    .slider{
        height: 500px;
    }

    .btn-prev {
        bottom:16%;
        left: 20%;
    }
    
    .btn-next {
        bottom:15%;
        right: 20%;
    }
}