body{
    background-color: #19012F;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: ease 3s;
}
@media only screen and (max-width: 480px) {
    br {
        display: none;
    }
}

.default-color{
    color: #A029A3;  
}

.default-bg-color{
    background-color: #A029A3;
}

/* first container */
.corosal-first-section{
    background-image: url(/Assests/Banner/20289169-6256457-1@2x.png);
    background-size:contain;
}

.slider {
    width: 100%;
    max-width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    max-width: 100%;
    height: 800px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    z-index: 199;
 
}

.btn {
    width: 100px;
    height: 100px;
    z-index: 10px;
    cursor: pointer;    
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    rotate: 180deg;
    bottom: 1.5%;
    left: 40%;
}

.btn-next {
   bottom: 0%;
   right: 40%;
}

.card{
   max-width: 250px;
   height: 250px;
   margin: 0 5px;
   overflow: hidden;
}




/* first container end */

/* Secound container start */

.over-box{
    width:11%;
}
.container-row-2{
    margin-top:10%;
}

.box-img-over-1{
    transform: translate(30%,-120%);
}
.box-img-over-2{
    transform: translate(160%,-250%);
}
.box-img-over-3{
    transform: translate(320%,-180%);
}
.box-img-over-4 {
    transform: translate(460%,-310%);
}
.box-img-over-5{
    transform: translate(620%,-280%);
}


/* third container */
.categories-img{
    width: 50%;
}

.trans-btn{
    background: transparent;
}

.trans-btn:active{
    transform: scale(1.1);
}

.trans-btn-prev{
    rotate: 180deg;
}

/* 8th container */

.section-8{
    background-image: url(Assests/8th-container/6055208-200-1-converted-1@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section-8-box-1{
    transform: translate(20%,10%)
}
.section-8-box-2{
    transform: translate(0%,100%)
}
.section-8-box-3{
    transform: translate(25%,200%)
}
.section-8-box-4{
    transform: translate(80%,110%)
}
.section-8-box-5{
    transform: translate(40%,10%)
}
.section-8-box-6{
    transform: translate(55%,100%)
}
.section-8-box-7{
    transform: translate(40%,200%)
}

/* section 9 */

.section-9{
    background-image: url(Assests/9th-container/backImg.png);
    background-repeat: no-repeat;
}

.lets-connect-form{
    background-image: url(Assests/9th-container/form-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}



@media screen and (max-width:480px) {
    .box-img-over-1{
        transform: translate(40%,-130%);
    }
    .box-img-over-2{
        transform: translate(180%,-300%);
    }
    .box-img-over-3{
        transform: translate(360%,-190%);
    }
    .box-img-over-4 {
        transform: translate(515%,-340%);
    }
    .box-img-over-5{
        transform: translate(680%,-300%);
    } 
}

@media screen and (max-width: 480px) {
    .slide {
        height: 500px;
    }

    .slider{
        height: 500px;
    }
    .btn {
        width: 50px;
        height: 50px;
        z-index: 10px;
        cursor: pointer;   
    }

}