

.slider {
    width: 100%;
    max-width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    max-width: 100%;
    height: 800px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    bottom:5%;
    left: 40%;
}

.btn-next {
    bottom:5%;
    right: 40%;
}

@media screen and (max-width: 480px) {
    .slide {
        height: 500px;
    }

    .slider{
        height: 500px;
    }

    .btn-prev {
        bottom:2%;
        left: 30%;
    }
    
    .btn-next {
        bottom:2%;
        right: 30%;
    }
}