<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

   <!-- navigation bar section start -->
   <div class="nav flex p-5 bg-transparent justify-around text-white max-lg:p-0">
    <!-- menu logo -->
    <div class="nav-logo flex items-center">
        <img src="Assests/company-logo.png" alt="" class="w-32 max-lg:w-1/4">
        <h1 class="text-2xl font-bold pointer"><a href="index.html">Algo Trading Wala</a></h1>
    </div>
    <!-- menu list -->
    <div class="nav-menu max-lg:hidden">
        <ul class="flex items-center text-2xl font-bold pointers">
            <li class="mx-5"><a href="/component/marketplace.html">Marketplace</a></li>
            <li class="mx-5">Feature</li>
            <li class="mx-5">Ecosystem</li>
            <li class="mx-5">PricePlan</li>
            <li class="mx-5">Resource <span id="nav-menu-resource">#</span>
            <div class="nav-menu-resource-dropdown absolute bg-white text-black rounded-xl text-sm px-8 py-2 pointer">
                <ul>
                    <li class="my-1"><a href="component/Resources.html">Blogs</a></li>
                    <li class="my-1"><a href="component/aboutus.html">About Us</a></li>
                    <li class="my-1"><a href="component/community.html">Community</a></li>
                </ul>
            </div>
            </li>
        </ul>
    </div>
    <!-- menu sign in and log in button -->
    <div class="nav-auth max-lg:hidden flex items-center text-2xl font-bold pointer">
        <div class="nav-btn-signIn mx-2">SIGN IN</div>
        <div class="nav-btn-login p-2 rounded-lg" style="background-color: #A029A3;">LOGIN</div>
    </div>
</div>
<!-- navigation bar section ends -->

    <div class="container m-auto flex max-lg:flex-col-reverse">
        <div class="right container m-auto max-lg:mx-3">
            <h1>About Us</h1>
            <h3>Robotics is a multidisciplinary creative algo studio.</h3>
            <p>We work together to design, create and produce work that we are proud of for folks that we believe in. We are available for hire in a wide range of algo disciplines for a variety of jobs, projects and gigs.
            </p>
            <h3>We're strategists, programmers, developers and option Traders.</h3>
            <p>We have over a decade of experience in the stock market & Algo industry. Producing exciting experiences for active pro traders that are as smart, as they are effective.</p>
        </div>
        <div class="left">
            <img src="/Assests/blog-Page/2nd-banner.png" alt="" srcset="">
        </div>
    </div>


    <div class="section-8 h-screen relative">
        <h1 class="text-4xl default-color text-center font-black py-8 my-8">Why Choose Us</h1>
        <div class="container m-auto grid grid-cols-2">
            <div class="section-8-box-1 my-5">
                <h1 class="default-color text-3xl font-black">User Friendly</h1>
                <p class="font-normal w-1/2 text-lg">Our extremely simple and easy-to-use API will help you to create a
                    powerful
                    took to trade.</p>
            </div>
            <div class="section-8-box-5 my-5">
                <h1 class="default-color text-3xl font-black">Real time Executiony</h1>
                <p class="font-normal w-1/2 text-lg">We facilitate real time execution of trad aided by live trading
                    data.</p>
            </div>
            <div class="section-8-box-2 my-5">
                <h1 class="default-color text-3xl font-black">Dependable Support</h1>
                <p class="font-normal w-1/2 text-lg">We have a dedicated and well-trained support team to provide
                    solutions to
                    all customer queries
                    and resolve any
                    problem.</p>
            </div>
            <div class="section-8-box-6 my-5">
                <h1 class="default-color text-3xl font-black">Auto Login Feature</h1>
                <p class="font-normal w-1/2 text-lg">You need not to worry about login your trading account and connect
                    with
                    algo platform daily. We
                    provide Auto Login Feature as well so that access token will generate automatically daily.</p>
            </div>
            <div class="section-8-box-3 my-5">
                <h1 class="default-color text-3xl font-black">Fast and Seamless</h1>
                <p class="font-normal w-1/2 text-lg">You can place muliple orders at lightning speed with ourogie
                    software</p>
            </div>
            <div class="section-8-box-7 my-5">
                <h1 class="default-color text-3xl font-black">Risk Management</h1>
                <p class="font-normal w-1/2 text-lg">Our Team with 15 Years+ Experience customize your risk level for
                    each
                    strategy you follow.</p>
            </div>
            <div class="section-8-box-4 my-5">
                <h1 class="default-color text-3xl font-black">Total Security</h1>
                <p class="font-normal w-1/2 text-lg">Our Piction works without direct access to your trading account to
                    access
                    your fund, it is totally in
                    your control.</p>
            </div>
        </div>
    </div>

    <div class="section-9 bg-contain">
        <div class="row-1 flex justify-evenly max-lg:flex-col mt-8">
            <div class="section-9-left">
                <img src="Assests/9th-container/midImg.png" class="max-lg:w-1/2 max-lg:m-auto" alt="">
            </div>
            <div class="section-9-right">
                <div class="form lets-connect-form bg-white text-black p-8 w-96 rounded-2xl max-lg:w-3/4 max-lg:m-auto">
                    <h1 class="default-color text-center font-bold text-3xl ">Let's Connect</h1>
                    <label for="Name" class="font-semibold">Name</label>
                    <br>
                    <input type="text" class="w-full mb-5 text-xs font-semibold py-3" placeholder="Enter your name">
                    <br>
                    <label for="Email" class="font-semibold">Email</label>
                    <br>
                    <input type="email" class="w-full mb-5 text-xs font-semibold py-3" placeholder="Enter you email">
                    <br>
                    <label for="tel" class="font-semibold">Phone Number</label>
                    <br>
                    <input type="tel" class="w-full mb-5 text-xs font-semibold py-3"
                        placeholder="Enter your phone number">
                    <br>
                    <label for="Messages" class="font-semibold">Messages</label>
                    <br>
                    <input type="text" class="w-full mb-5 text-xs font-semibold py-3" placeholder="Enter your message">
                    <br>
                    <button type="submit" form="form1" value="Submit" class="w-full p-2 text-white font-bold"
                        style="background-color:#A029A3;">Submit</button>
                </div>
            </div>
        </div>



          <!-- footer -->

          <div class="row-2 my-8">
            <div class="grid grid-cols-4">
                <div class="grid-col-1 mx-8 max-lg:col-span-4">
                    <h1 class="font-bold my-2">Algo Trading Wala</h1>
                    <h2 class="underline my-2">YOUR SUCCESS IS OUR BUSINES</h2>
                    <p class="text-xs my-2 text-xm font-normal">Algo Trading Wala helps everyone to switch into an
                        effortless
                        trading system. Our vision is to create rewarding stratagies
                        or help everyone to create their stratagias and put it on our
                        platform so that they dot have to worry about taking tradas
                        according to their strategies manually, we will let our bot
                        do it for them with high execution speed and with zero latency</p>
                    <h1 class="text-sm font-semibold">© Algo Trading Wala Pvt Ltd 2020-23. All rights reserved</h1>
                </div>
                <div class="grid-cols-2 mx-8 max-lg:col-span-2">
                    <ul>
                        <li class="my-2 font-normal">Company</li>
                        <li class="my-2 font-normal">About Us</li>
                        <li class="my-2 font-normal">FAQ's</li>
                        <li class="my-2 font-normal">Blog</li>
                        <li class="my-2 font-normal">Privacy & Policy</li>
                        <li class="my-2 font-normal">Terms & Conditions</li>
                    </ul>
                </div>
                <div class="grid-cols-3 mx-8 max-lg:col-span-2">
                    <ul>
                        <li class="my-3 font-normal">Learn</li>
                        <li class="my-3 font-normal">What is Algo Trading?</li>
                        <li class="my-3 font-normal">Algo Basic</li>
                        <li class="my-3 font-normal">Tips and Tutorials</li>
                        <li class="my-3 font-normal">Market Update</li>
                    </ul>
                </div>
                <div class="grid-cols-4 mx-8 mx-8 ">
                    <ul>
                        <li class="my-3 font-normal">Contact Us</li>
                        <li class="my-3 font-normal">+91 9667066658</li>
                        <li class="my-3 font-normal">+91 9667066654</li>
                        <li class="my-3 font-normal">support@algotradingwala.c</li>
                        <li class="my-3 font-normal">Affilliate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>