<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <!-- navigation bar section start -->
    <div class="nav flex p-5 bg-transparent justify-around text-white max-lg:p-0">
        <!-- menu logo -->
        <div class="nav-logo flex items-center">
            <img src="Assests/company-logo.png" alt="" class="w-32 max-lg:w-1/4">
            <h1 class="text-2xl font-bold pointer"><a href="index.html">Algo Trading Wala</a></h1>
        </div>
        <!-- menu list -->
        <div class="nav-menu max-lg:hidden">
            <ul class="flex items-center text-2xl font-bold pointers">
                <li class="mx-5"><a href="/component/marketplace.html">Marketplace</a></li>
                <li class="mx-5">Feature</li>
                <li class="mx-5">Ecosystem</li>
                <li class="mx-5">PricePlan</li>
                <li class="mx-5">Resource <span id="nav-menu-resource">#</span>
                <div class="nav-menu-resource-dropdown absolute bg-white text-black rounded-xl text-sm px-8 py-2 pointer">
                    <ul>
                        <li class="my-1"><a href="component/Resources.html">Blogs</a></li>
                        <li class="my-1"><a href="component/aboutus.html">About Us</a></li>
                        <li class="my-1"><a href="component/community.html">Community</a></li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        <!-- menu sign in and log in button -->
        <div class="nav-auth max-lg:hidden flex items-center text-2xl font-bold pointer">
            <div class="nav-btn-signIn mx-2">SIGN IN</div>
            <div class="nav-btn-login p-2 rounded-lg" style="background-color: #A029A3;">LOGIN</div>
        </div>
    </div>
    <!-- navigation bar section ends -->

   <div class="container m-auto">
    <h1>Frequently asked questions</h1>
    <div class="subscribe-section flex my-5 bg-white max-w-min text-black rounded-3xl px-5 py-2">
        <input type="email" placeholder="Enter your email">
        <div class="subscribe-btn bg-black text-white px-5 py-2 rounded-3xl">
            Subscribe
        </div>
    </div>

    <div class="container m-auto">
        <div class="community-card p-5 rounded-lg bg-white text-black my-3">
            <h1>
                What is Algo trading
            </h1>
            <p>
                Algorithmic trading uses computer program that follows a defined a set of instructions
                 (an algorithm) to place a trade. The trade, in theory, can generate profits at a speed and 
                 frequency that is impossible for human trader.
            </p>
        </div>
        <div class="community-card p-5 rounded-lg bg-white text-black my-3">
            <h1>
                What is Algo trading
            </h1>
            <p>
                Algorithmic trading uses computer program that follows a defined a set of instructions
                 (an algorithm) to place a trade. The trade, in theory, can generate profits at a speed and 
                 frequency that is impossible for human trader.
            </p>
        </div>
        <div class="community-card p-5 rounded-lg bg-white text-black my-3">
            <h1>
                What is Algo trading
            </h1>
            <p>
                Algorithmic trading uses computer program that follows a defined a set of instructions
                 (an algorithm) to place a trade. The trade, in theory, can generate profits at a speed and 
                 frequency that is impossible for human trader.
            </p>
        </div>
    </div>
   </div>

          <!-- footer -->

          <div class="row-2 my-8">
            <div class="grid grid-cols-4">
                <div class="grid-col-1 mx-8 max-lg:col-span-4">
                    <h1 class="font-bold my-2">Algo Trading Wala</h1>
                    <h2 class="underline my-2">YOUR SUCCESS IS OUR BUSINES</h2>
                    <p class="text-xs my-2 text-xm font-normal">Algo Trading Wala helps everyone to switch into an
                        effortless
                        trading system. Our vision is to create rewarding stratagies
                        or help everyone to create their stratagias and put it on our
                        platform so that they dot have to worry about taking tradas
                        according to their strategies manually, we will let our bot
                        do it for them with high execution speed and with zero latency</p>
                    <h1 class="text-sm font-semibold">© Algo Trading Wala Pvt Ltd 2020-23. All rights reserved</h1>
                </div>
                <div class="grid-cols-2 mx-8 max-lg:col-span-2">
                    <ul>
                        <li class="my-2 font-normal">Company</li>
                        <li class="my-2 font-normal">About Us</li>
                        <li class="my-2 font-normal">FAQ's</li>
                        <li class="my-2 font-normal">Blog</li>
                        <li class="my-2 font-normal">Privacy & Policy</li>
                        <li class="my-2 font-normal">Terms & Conditions</li>
                    </ul>
                </div>
                <div class="grid-cols-3 mx-8 max-lg:col-span-2">
                    <ul>
                        <li class="my-3 font-normal">Learn</li>
                        <li class="my-3 font-normal">What is Algo Trading?</li>
                        <li class="my-3 font-normal">Algo Basic</li>
                        <li class="my-3 font-normal">Tips and Tutorials</li>
                        <li class="my-3 font-normal">Market Update</li>
                    </ul>
                </div>
                <div class="grid-cols-4 mx-8 mx-8 ">
                    <ul>
                        <li class="my-3 font-normal">Contact Us</li>
                        <li class="my-3 font-normal">+91 9667066658</li>
                        <li class="my-3 font-normal">+91 9667066654</li>
                        <li class="my-3 font-normal">support@algotradingwala.c</li>
                        <li class="my-3 font-normal">Affilliate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>