<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../index.css">
</head>

<body>
    <!-- navigation bar section start -->
    <div class="nav flex p-5 bg-transparent justify-around text-white max-lg:p-0">
        <!-- menu logo -->
        <div class="nav-logo flex items-center">
            <img src="Assests/company-logo.png" alt="" class="w-32 max-lg:w-1/4">
            <h1 class="text-2xl font-bold pointer"><a href="index.html">Algo Trading Wala</a></h1>
        </div>
        <!-- menu list -->
        <div class="nav-menu max-lg:hidden">
            <ul class="flex items-center text-2xl font-bold pointers">
                <li class="mx-5"><a href="/component/marketplace.html">Marketplace</a></li>
                <li class="mx-5">Feature</li>
                <li class="mx-5">Ecosystem</li>
                <li class="mx-5">PricePlan</li>
                <li class="mx-5">Resource <span id="nav-menu-resource">#</span>
                <div class="nav-menu-resource-dropdown absolute bg-white text-black rounded-xl text-sm px-8 py-2 pointer">
                    <ul>
                        <li class="my-1"><a href="component/Resources.html">Blogs</a></li>
                        <li class="my-1"><a href="component/aboutus.html">About Us</a></li>
                        <li class="my-1"><a href="component/community.html">Community</a></li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        <!-- menu sign in and log in button -->
        <div class="nav-auth max-lg:hidden flex items-center text-2xl font-bold pointer">
            <div class="nav-btn-signIn mx-2">SIGN IN</div>
            <div class="nav-btn-login p-2 rounded-lg" style="background-color: #A029A3;">LOGIN</div>
        </div>
    </div>
    <!-- navigation bar section ends -->

    <div class="marketplace-top-card bg-white text-black p-5 rounded-xl font-bold mx-5">
        <h1 class="text-2xl max-lg:text-lg">Marketplace</h1>
        <p class="text-lg max-lg:text-sm">Explore a world of trading strategist! A marketplace where you choose and
            deploy from professionally curated strategies or even sell your own strategy.</p>
    </div>


    <div class="container m-auto section-6 flex max-lg:flex-col max-lg:text-xm h-screen max-lg:h-1/2">
        <div class="sectiion-6-left m-auto">
            <h1 class="text-3xl default-color font-bold text-4xl my-5 max-lg:text-2xl max-lg:text-center">A strategy for
                every type <br> of trading</h1>
            <img src="../Assests/sixth-container/5467404-1698-converted-1@2x.png" alt="" style="width:100%;">
        </div>
        <div class="secion-6-right grid grid-cols-2 w-full m-auto">
            <div class="section-6-box-1 m-5 max-lg:border-2 max-lg:rounded-2xl max-lg:p-2 max-lg:border-purple-500">
                <img src="../Assests/sixth-container/box-1.png" class="w-16 my-5 max-lg:m-auto">
                <h1 class="default-color text-2xl font-bold my-5 max-lg:text-sm max-lg:text-center">Risk Manager</h1>
                <p class="font-semibold tracking-widest max-lg:text-xs"> Algo system detects false signal <br>
                    generations and ensures risk free
                    trading</p>
            </div>
            <div class="section-6-box-2 m-5 max-lg:border-2 max-lg:rounded-2xl max-lg:p-2 max-lg:border-purple-500">
                <img src="../Assests/sixth-container/box-2.png" class="w-16 my-5 max-lg:m-auto">
                <h1 class="default-color text-2xl font-bold my-5 max-lg:text-sm max-lg:text-center">Momentum Meter</h1>
                <p class="font-semibold tracking-widest max-lg:text-xs">An incredibly useful tool that will<br>
                    allow you to see the strength of<br>
                    trading symbols which will give you<br>
                    market directions. </p>
            </div>
            <div class="section-6-box-3 m-5 max-lg:border-2 max-lg:rounded-2xl max-lg:p-2 max-lg:border-purple-500">
                <img src="../Assests/sixth-container/box-3.png" class="w-16 my-5 max-lg:m-auto">
                <h1 class="default-color text-2xl font-bold my-5 max-lg:text-sm max-lg:text-center">Naked Trading Option
                </h1>
                <p class="font-semibold tracking-widest max-lg:text-xs">A brilliantly simple but powerful tool<br>
                    identify opportunities in the future <br>
                    underlying and places the orders in <br>
                    the option contract like (ATM/IT/<br>
                    ОТМ).</p>
            </div>
            <div class="section-6-box-4 m-5 max-lg:border-2 max-lg:rounded-2xl max-lg:p-2 max-lg:border-purple-500">
                <img src="../Assests/sixth-container/box-4.png" class="w-16 my-5 max-lg:m-auto">
                <h1 class="default-color text-2xl font-bold my-5 max-lg:text-sm max-lg:text-center">Support & Resistance
                </h1>
                <p class="font-semibold tracking-widest max-lg:text-xs">Take away the guess work with our <br>
                    custom built tool know exactly <br>
                    where to draw your key areas & <br>
                    demand.</p>
            </div>
        </div>
    </div>


    <!-- Strategy Section -->

    <div class="Strategy-section container m-auto">
        <div class="grid grid-cols-3 max-lg:grid-cols-1">
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
            <div class="strategy-section-card-1 text-center w-3/4 bg-white text-black rounded-xl  m-auto my-5">
                <div
                    class="strategy-section-card-1-heading flex items-center m-auto my-5 rounded-xl px-2 bg-black text-white max-w-fit">
                    <h1 class="p-5 font-bold">NIFTY</h1>
                    <h1 class="bg-white text-black p-2 rounded-xl font-bold">OPTION BUYING</h1>
                </div>
                <h1 class="font-bold">ALGO HUNTER</h1>
                <img src="/Assests/screenshot-20230129-145205-2@2x.png" alt="no image">
                <h1 class="bg-gray-300 text-black">CAPITAL REQUIRED : 12K PER LOT</h1>
                <div class="execute-btn bg-black text-white w-2/4 py-4 rounded-xl font-bold text-2xl m-auto my-5">
                    Execute</div>
            </div>
        </div>
        <h1 class="float-right font-bold text-xl">Next Page</h1>
    </div>


    <!-- Indicatior section starts -->

    <div class="container m-auto my-8">
        <h1 class="default-color text-5xl text-center font-bold">Indicatior</h1>

        <div class="grid grid-cols-3 max-lg:grid-cols-1">
            <div class="section-7-right my-4 w-3/4 m-auto">
                <div class="section-7-card bg-white text-black rounded-3xl text-center">
                    <img src="/Assests/seventh-container/scraping & signal.png" alt="">
                    <h1 class="text-2xl font-black m-2 max-lg:text-sm">AWT Super</h1>
                    <P class="font-bold my-2 max-lg:text-xs">This strategy is range strategy. It will print buy on the
                        break
                        out of
                        specific range with other conformation.</P>
                </div>
            </div>
            <div class="section-7-right my-4 w-3/4 m-auto">
                <div class="section-7-card bg-white text-black rounded-3xl text-center">
                    <img src="/Assests/seventh-container/scraping & signal.png" alt="">
                    <h1 class="text-2xl font-black m-2 max-lg:text-sm">AWT Super</h1>
                    <P class="font-bold my-2 max-lg:text-xs">This strategy is range strategy. It will print buy on the
                        break
                        out of
                        specific range with other conformation.</P>
                </div>
            </div>
            <div class="section-7-right my-4 w-3/4 m-auto">
                <div class="section-7-card bg-white text-black rounded-3xl text-center">
                    <img src="/Assests/seventh-container/scraping & signal.png" alt="">
                    <h1 class="text-2xl font-black m-2 max-lg:text-sm">AWT Super</h1>
                    <P class="font-bold my-2 max-lg:text-xs">This strategy is range strategy. It will print buy on the
                        break
                        out of
                        specific range with other conformation.</P>
                </div>
            </div>
            <div class="section-7-right my-4 w-3/4 m-auto">
                <div class="section-7-card bg-white text-black rounded-3xl text-center">
                    <img src="/Assests/seventh-container/scraping & signal.png" alt="">
                    <h1 class="text-2xl font-black m-2 max-lg:text-sm">AWT Super</h1>
                    <P class="font-bold my-2 max-lg:text-xs">This strategy is range strategy. It will print buy on the
                        break
                        out of
                        specific range with other conformation.</P>
                </div>
            </div>
            <div class="section-7-right my-4 w-3/4 m-auto">
                <div class="section-7-card bg-white text-black rounded-3xl text-center">
                    <img src="/Assests/seventh-container/scraping & signal.png" alt="">
                    <h1 class="text-2xl font-black m-2 max-lg:text-sm">AWT Super</h1>
                    <P class="font-bold my-2 max-lg:text-xs">This strategy is range strategy. It will print buy on the
                        break
                        out of
                        specific range with other conformation.</P>
                </div>
            </div>
            <div class="section-7-right my-4 w-3/4 m-auto">
                <div class="section-7-card bg-white text-black rounded-3xl text-center">
                    <img src="/Assests/seventh-container/scraping & signal.png" alt="">
                    <h1 class="text-2xl font-black m-2 max-lg:text-sm">AWT Super</h1>
                    <P class="font-bold my-2 max-lg:text-xs">This strategy is range strategy. It will print buy on the
                        break
                        out of
                        specific range with other conformation.</P>
                </div>
            </div>
        </div>

          <!-- footer -->

          <div class="row-2 my-8">
            <div class="grid grid-cols-4">
                <div class="grid-col-1 mx-8 max-lg:col-span-4">
                    <h1 class="font-bold my-2">Algo Trading Wala</h1>
                    <h2 class="underline my-2">YOUR SUCCESS IS OUR BUSINES</h2>
                    <p class="text-xs my-2 text-xm font-normal">Algo Trading Wala helps everyone to switch into an
                        effortless
                        trading system. Our vision is to create rewarding stratagies
                        or help everyone to create their stratagias and put it on our
                        platform so that they dot have to worry about taking tradas
                        according to their strategies manually, we will let our bot
                        do it for them with high execution speed and with zero latency</p>
                    <h1 class="text-sm font-semibold">© Algo Trading Wala Pvt Ltd 2020-23. All rights reserved</h1>
                </div>
                <div class="grid-cols-2 mx-8 max-lg:col-span-2">
                    <ul>
                        <li class="my-2 font-normal">Company</li>
                        <li class="my-2 font-normal">About Us</li>
                        <li class="my-2 font-normal">FAQ's</li>
                        <li class="my-2 font-normal">Blog</li>
                        <li class="my-2 font-normal">Privacy & Policy</li>
                        <li class="my-2 font-normal">Terms & Conditions</li>
                    </ul>
                </div>
                <div class="grid-cols-3 mx-8 max-lg:col-span-2">
                    <ul>
                        <li class="my-3 font-normal">Learn</li>
                        <li class="my-3 font-normal">What is Algo Trading?</li>
                        <li class="my-3 font-normal">Algo Basic</li>
                        <li class="my-3 font-normal">Tips and Tutorials</li>
                        <li class="my-3 font-normal">Market Update</li>
                    </ul>
                </div>
                <div class="grid-cols-4 mx-8 mx-8 ">
                    <ul>
                        <li class="my-3 font-normal">Contact Us</li>
                        <li class="my-3 font-normal">+91 9667066658</li>
                        <li class="my-3 font-normal">+91 9667066654</li>
                        <li class="my-3 font-normal">support@algotradingwala.c</li>
                        <li class="my-3 font-normal">Affilliate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>