<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind StyleSheet CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Resources</title>
    <link rel="stylesheet" href="/index.css"> <!-- index StyleSheet included -->
</head>
<Style>
    .resource-first-section {
        position: relative;
        background-image: url(/Assests/blog-Page/banner-img.png);
    }
</Style>


<body>

    <!-- navigation bar section start -->
    <div class="nav flex p-5 bg-transparent justify-around text-white max-lg:p-0">
        <!-- menu logo -->
        <div class="nav-logo flex items-center">
            <img src="Assests/company-logo.png" alt="" class="w-32">
            <h1 class="text-2xl font-bold">Algo Trading Wala</h1>
        </div>
        <!-- menu list -->
        <div class="nav-menu max-lg:hidden">
            <ul class="flex items-center text-2xl font-bold">
                <li class="mx-5"><a href="/component/marketplace.html">Marketplace</a></li>
                <li class="mx-5">Feature</li>
                <li class="mx-5">Ecosystem</li>
                <li class="mx-5">PricePlan</li>
                <li class="mx-5">Resource</li>
            </ul>
        </div>
        <!-- menu sign in and log in button -->
        <div class="nav-auth max-lg:hidden flex items-center text-2xl font-bold">
            <div class="nav-btn-signIn mx-2">SIGN IN</div>
            <div class="nav-btn-login p-2 rounded-lg" style="background-color: #A029A3;">LOGIN</div>
        </div>
    </div>
    <!-- navigation bar section ends -->

    <div class="resource-first-section bg-contain bg-no-repeat">
        <div class="container m-auto text-center h-screen max-lg:h-auto">
            <h1 class="text-6xl font-bold py-20 relative max-lg:py-0">
                Blogs
            </h1>
            <p class=" text-3xl font-bold max-lg:text-xs">
                blog, short for wieblod, is a frequently updated web page used for personal ommentary or business
                content. Blogs are often interactive and include sectiens al bottom of individual blog posts where
                readers can leave comments.
                <br>
                Tempor lorem diam curabitur ac in nec, elementum arcu. Risus habitasse in aliquet mattis augue augue
                ornare in. Orci eu
                maecenas purus diam, sapien facilisis. Nunc tincidunt urna amet, et, in turpis sagittis, tristique
                purus. Facilisis sagittis nec et
                egestas leo lorem diam aenean egestas. Cras vestibulum, purus pretium nisl. Diam eleitend egestas
                gravida cursus in.
            </p>
        </div>
    </div>

    <div class="resource-secound-section">
        <h1>
            Adipiscing lacus dui rutrum quam. In morbi facilisis elit.
        </h1>
        <p>
            Tincidunt et amet suspendisse venenatis neque ultricies eget. Aliquam duis amet amet lobortis. Elit risus
            ultrices gravida fringilla
            id odio tortor, vitae. In pretium purus ac potenti pretium ultrices. Aliquam velit scelerisque auctor in
            libero amet. Commodo
            faucibus consequat, dolor fringilla volutpat sed nibh. Amet, sit ut id eget. Egestas hendrerit.
        </p>
        <img src="/Assests/blog-Page/2nd-banner.png" alt="" class="w-3/4 container m-auto">
    </div>

    <div class="resource-third-section container m-auto">
        <h1>From the Blog</h1>
        <div class="grid grid-cols-3">
            <div class="resource-blog-card w-3/4 bg-white text-black rounded-xl my-5">
                <img src="/Assests/blog-Page/first-box.png" alt="" class="rounded-xl relative">
                <h1 class="font-bold text-sm px-2">Porttitor pharetra, consectetur viverra est nisl a, vulputate id.
                </h1>
                <div class="resource-blog-card-def flex justify-between text-xs p-2">
                    <p>12 Dec, 2022</p>
                    <p>Technolgy</p>
                </div>
            </div>
            <div class="resource-blog-card w-3/4 bg-white text-black rounded-xl my-5">
                <img src="/Assests/blog-Page/secound-box.png" alt="" class="rounded-xl relative">
                <h1 class="font-bold text-sm px-2">Diam amet non placerat risus magna non volutpat.</h1>
                <div class="resource-blog-card-def flex justify-between text-xs p-2">
                    <p>12 Dec, 2022</p>
                    <p>Technolgy</p>
                </div>
            </div>
            <div class="resource-blog-card w-3/4 bg-white text-black rounded-xl my-5">
                <img src="/Assests/blog-Page/third-box.png" alt="" class="rounded-xl relative">
                <h1 class="font-bold text-sm px-2">Volutpat volutpat turpis risus nunc in nisl habitasse leo. Duis.</h1>
                <div class="resource-blog-card-def flex justify-between text-xs p-2">
                    <p>12 Dec, 2022</p>
                    <p>Technolgy</p>
                </div>
            </div>

            <div class="resource-blog-card bg-white w-3/4 text-black rounded-xl flex">
                <img src="/Assests/blog-Page/forth-box.png" alt="" class="w-1/4">
                <div class="right m-auto">
                    <h1 class="font-bold text-sm px-2">Volutpat volutpat turpis risus nunc in nisl habitasse leo. Duis.
                    </h1>
                    <div class="resource-blog-card-def text-xs p-2 flex justify-between">
                        <p>12 Dec, 2022</p>
                        <p>Technolgy</p>
                    </div>
                </div>
            </div>
            <div class="resource-blog-card bg-white w-3/4 text-black rounded-xl flex">
                <img src="/Assests/blog-Page/fith-box.png" alt="" class="w-1/4">
                <div class="right m-auto">
                    <h1 class="font-bold text-sm px-2">Volutpat volutpat turpis risus nunc in nisl habitasse leo. Duis.
                    </h1>
                    <div class="resource-blog-card-def text-xs p-2 flex justify-between">
                        <p>12 Dec, 2022</p>
                        <p>Technolgy</p>
                    </div>
                </div>
            </div>
            <div class="resource-blog-card bg-white w-3/4 text-black rounded-xl flex">
                <img src="/Assests/blog-Page/sixth-box.png" alt="" class="w-1/4">
                <div class="right m-auto">
                    <h1 class="font-bold text-sm px-2">Volutpat volutpat turpis risus nunc in nisl habitasse leo. Duis.
                    </h1>
                    <div class="resource-blog-card-def text-xs p-2 flex justify-between">
                        <p>12 Dec, 2022</p>
                        <p>Technolgy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- footer -->

     <div class="row-2 my-8">
        <div class="grid grid-cols-4">
            <div class="grid-col-1 mx-8 max-lg:col-span-4">
                <h1 class="font-bold my-2">Algo Trading Wala</h1>
                <h2 class="underline my-2">YOUR SUCCESS IS OUR BUSINES</h2>
                <p class="text-xs my-2 text-xm font-normal">Algo Trading Wala helps everyone to switch into an
                    effortless
                    trading system. Our vision is to create rewarding stratagies
                    or help everyone to create their stratagias and put it on our
                    platform so that they dot have to worry about taking tradas
                    according to their strategies manually, we will let our bot
                    do it for them with high execution speed and with zero latency</p>
                <h1 class="text-sm font-semibold">© Algo Trading Wala Pvt Ltd 2020-23. All rights reserved</h1>
            </div>
            <div class="grid-cols-2 mx-8 max-lg:col-span-2">
                <ul>
                    <li class="my-2 font-normal">Company</li>
                    <li class="my-2 font-normal">About Us</li>
                    <li class="my-2 font-normal">FAQ's</li>
                    <li class="my-2 font-normal">Blog</li>
                    <li class="my-2 font-normal">Privacy & Policy</li>
                    <li class="my-2 font-normal">Terms & Conditions</li>
                </ul>
            </div>
            <div class="grid-cols-3 mx-8 max-lg:col-span-2">
                <ul>
                    <li class="my-3 font-normal">Learn</li>
                    <li class="my-3 font-normal">What is Algo Trading?</li>
                    <li class="my-3 font-normal">Algo Basic</li>
                    <li class="my-3 font-normal">Tips and Tutorials</li>
                    <li class="my-3 font-normal">Market Update</li>
                </ul>
            </div>
            <div class="grid-cols-4 mx-8 mx-8 ">
                <ul>
                    <li class="my-3 font-normal">Contact Us</li>
                    <li class="my-3 font-normal">+91 9667066658</li>
                    <li class="my-3 font-normal">+91 9667066654</li>
                    <li class="my-3 font-normal">support@algotradingwala.c</li>
                    <li class="my-3 font-normal">Affilliate</li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>

</html>